@import 'reset.css';

/*SELETOR GENÉRICO DE TAGS*/
/*Usado para customizar todas as tags h1*/
h1{
  color: red;
}

/*SELETOR EXCLUSIVO*/
/*Usado para customizar apenas a tag que possui como atributo o id="nomeDoId" */
/*Um id deve ser único/exclusivo, não sendo atribuido a outras tags/elementos*/
/* Símbolo em CSS: # */
#titulo1{
  color: green;
}

/*SELETOR DE CLASSE*/
/*Usado para customizar uma ou mais tags que possuem como atributo class="nomeDaClass"*/
/* Símbolo em CSS: . */
.titulos{
  color: blue;
}
