@import 'reset.css';

/* CUSTOMIZAÇÃO COM SELETOR DE TAGS / GENÉRICO*/
/*Usado para customizar todas as tags declaradas*/
h1{
  color: red;
}

/* CUSTOMIZAÇÃO COM SELETOR DE ID / SINGULAR / EXCLUSIVO */
/* Usado para customizar apenas a tag que possui como atributo o id="nomeDoId" */
/*Um id deve ser único/exclusivo, não sendo atribuido a outras tags/elementos*/
/* Símbolo em CSS: # */
#titulo1{
  color: green;
}

/* CUSTOMIZAÇÃO COM SELETOR DE CLASSE / REPLICÁVEL */
/*Usado para customizar uma ou mais tags que possuem como atributo class="nomeDaClass"*/
/* Símbolo em CSS: . */
.titulos{
  color: blue;
}
