@import 'reset.css';

div{
  display: flex;
  flex-flow: column wrap;
  gap: .25rem;
}

form{
  align-items: left;
  background-color: #ccc;
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  justify-content: center;
  max-width: 30rem;
  padding: 2rem;
}

h1{
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
}

input{
  border: .1rem solid #aaa;
  border-radius: .25rem;
  font-size: 1.2rem;
  padding: .5rem;
}

label{
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

#nomeParagrafo,
#sobrenomeParagrafo,
#nomeCompletoParagrafo{
  font-size: 1.2rem;
  font-weight: 700;
}

#nomeParagrafo{
  border-top: .1rem solid #bbb;
  padding-top: 1rem;
}

.buttons__wrapper{
  flex-flow: row wrap;
  gap: 1rem;
}

.buttons__button{
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  max-width: 8rem;
  text-transform: uppercase;
}

.buttons__button-clean,
.buttons__button-send{
  color: #000;
  transition: background-color 1s, color .5s;
}

.buttons__button-clean{
  background-color: #FFF;
}

.buttons__button-send{
  background-color: #DAA520;
}

.buttons__button-clean:hover,
.buttons__button-send:hover{
  color: #FFF;
}

.buttons__button-clean:hover{
  background-color: #4b7bfd;
}

.buttons__button-send:hover{
  background-color: #002E04;
}
